[core]
	editor = vim
	excludesfile = ~/.config/gitignore-global
	pager = delta
[add.interactive]
	useBuiltin = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
	side-by-side = true
	minus-style                   = syntax "#3f2d3d"
	minus-non-emph-style          = syntax "#3f2d3d"
	minus-emph-style              = syntax "#763842"
	minus-empty-line-marker-style = syntax "#3f2d3d"
	line-numbers-minus-style      = "#b2555b"
	plus-style                    = syntax "#283b4d"
	plus-non-emph-style           = syntax "#283b4d"
	plus-emph-style               = syntax "#316172"
	plus-empty-line-marker-style  = syntax "#283b4d"
	line-numbers-plus-style       = "#266d6a"
	line-numbers-zero-style       = "#3b4261"
[diff]
	colorMoved = default
[user]
	name = Maxim Eryomenko
	email = maxim_eryomenko@rambler.ru
[alias]
	clog    = log --no-merges --format='%C(dim)%h    %<(14)%ad    %<(24)%an    %C(reset)%s' --date=relative
	glog    = log-graph
	slog    = log-stat
	dlog    = detailed-log
	noed    = commit --amend --no-edit
	rts     = remote set-url
	rtg     = remote get-url
	cleanup = gc --prune=now --aggressive
	h       = log --decorate --all --oneline --graph
	a       = add -p
	c       = clone
	cr      = clone --recursive
	d       = diff
	rb      = rebase -i
	ab      = all-branches
	rbc     = rebase --continue
	rba     = rebase --abort
	co      = checkout
	mc      = move-to-commit
	cm      = commit -s
	cmm     = commit-modefied
	s       = status
	fp      = format-patch
	sm      = smtp-send-email
	rc      = resolve-conflicts
	sc      = secret
	rs      = restore
	rmb     = remove-merged-branches
	cp      = cherry-pick
	cpc     = cherry-pick --continue
	po      = push-origin
	pfo     = push-force-origin
	rt      = regression-testing
	rnb     = rename-branch
	rcb     = rename-current-branch
[commit]
	gpgsign  = true
	template = ~/.config/gitmessage
[sendemail]
	smtpserver     = smtp.rambler.ru
	smtpuser       = maxim_eryomenko@rambler.ru
	smtpserverport = 587
	smtpencryption = tls
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@gitlab.freedesktop.org:"]
	insteadOf = https://gitlab.freedesktop.org/
[url "git@gitlab.gnome.org:"]
	insteadOf = https://gitlab.gnome.org/
[url "git@gitlab.kitware.com:"]
	insteadOf= https://gitlab.kitware.com/
[grep]
	lineNumber = true
[rerere]
	enabled = true
	autoUpdate = true
[fetch]
	prune = true
[color "status"]
	added = green
	changed = cyan
	untracked = magenta
[protocol]
	version = 2
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = auto
[help]
	autoCorrect = prompt
[committer]
	name = Maxim Eryomenko
	email = maxim_eryomenko@rambler.ru
[advice]
	skippedCherryPicks = false
[tag]
	forceSignAnnotated = true
[pack]
	useBitmapBoundaryTraversal = true
