[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = git@github.com:catppuccin/tmux.git
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/plugins/tmux-net-speed"]
	path = tmux/.tmux/plugins/tmux-net-speed
	url = https://git::@github.com/sainnhe/tmux-net-speed
[submodule "tmux/.tmux/plugins/tmux-plugin-sysstat"]
	path = tmux/.tmux/plugins/tmux-plugin-sysstat
	url = https://git::@github.com/sainnhe/tmux-plugin-sysstat
