nvim/.config/nvim/plugin/
fish/.config/fish/fish_variables
fish/.config/fish/fish_plugins
fish/.config/fish/functions/_fzf_*
fish/.config/fish/functions/fisher.fish
fish/.config/fish/functions/fzf_configure_bindings.fish
fish/.config/fish/completions
nvim/.config/nvim/db_ui/
vim/.vim/autoload/
vim/.vim/plugged/
*.netrwhist
nvim/.config/nvim/lua/plugins/lock.json
gtk/.config/gtk-3.0/bookmarks
cmus/.config/cmus/autosave
cmus/.config/cmus/cache
cmus/.config/cmus/command-history
cmus/.config/cmus/lib.pl
cmus/.config/cmus/playlists/
cmus/.config/cmus/search-history
gpg/.gnupg/private-keys-v1.d/
gpg/.gnupg/pubring.kbx
gpg/.gnupg/pubring.kbx~
gpg/.gnupg/trustdb.gpg
gpg/.gnupg/random_seed
fish/.config/fish/config.local.fish
fish/.config/fish/conf.d/fish_frozen_key_bindings.fish
