[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/plugins/tmux-net-speed"]
	path = tmux/.tmux/plugins/tmux-net-speed
	url = git@github.com:sainnhe/tmux-net-speed
[submodule "tmux/.tmux/plugins/tmux-plugin-sysstat"]
	path = tmux/.tmux/plugins/tmux-plugin-sysstat
	url = git@github.com:sainnhe/tmux-plugin-sysstat
[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "tmux/.tmux/plugins/tmux-everforest"]
	path = tmux/.tmux/plugins/tmux-everforest
	url = git@github.com:TanglingTreats/tmux-everforest.git
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = git@github.com:nordtheme/tmux.git
