* {
    border: none;
    border-radius: 4px;
    font-family: Mononoki Nerd Font;

    /* adjust font-size value to your liking: */
    font-size: 10px;

    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

#workspaces button {
    /* padding: 0 0.4em; */
    /* background-color: transparent; */
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#network,
#wireplumber,
#tray,
#mpd {
    padding: 0 8px;
    margin: 4px 1px;
    color: #000000;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #000000;
    color: white;
}

#battery {
    background-color: #000000;
    color: white;
}

#battery.charging {
    color: #ffffff;
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network,
#wireplumber {
    background-color: #000000;
    color: white;
}

#network.disconnected {
    background-color: #f53c3c;
}

#tray {
    background-color: #2980b9;
}
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #bbccdd;
    color: #333333;
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}

#custom-powermenu {
	color: rgb(242, 143, 173);
    margin-left: 0.8em;
    margin-right: 0.8em;
}
